<div class="preload">
  <div style="background: url('/assets/index/animation_0.png');"></div>
  <div style="background: url('/assets/index/animation_00.png');"></div>
  <div style="background: url('/assets/index/animation_01.png');"></div>
  <div style="background: url('/assets/index/animation_02.png');"></div>
  <ng-container *ngIf="scrollStep >= 1">
      <div style="background: url('/assets/index/animation_03.png');"></div>
      <!-- <div style="background: url('/assets/index/animation_04.png');"></div> -->
      <!-- <div style="background: url('/assets/index/animation_05.png');"></div> -->
  </ng-container>
 
</div>

<div class="animation {{ sceneClass }}" [ngClass]="{ scrolled: scrollStep > 1, up: directionDelta === -1, down: directionDelta === 1 }">
  <div class="animation-container">
      <img #backgroundImage [class]="sceneClass" src="/assets/index/aspect-ratio.png" />
      <div class="animation-elements">
          <div class="animation-elements-container">
              <!-- #1 searchbar ---->
              <div class="animation-page" [ngClass]="{ visible: scrollStep <= 2 && scrollStep >= 1 }">
                  <div class="text">
                      <div class="text-title">Searching a subject</div>
                      Edu's team tutors a plethora of subjects and difficulty levels.
                      Search a subject to browse tutors available&nbsp;
                  </div>
                  <div class="animation-block search-bar">
                      <div class="search-text">Algebra</div>
                      <div class="search-glass">
                          <mat-icon svgIcon="search" color="edu-turquoise"></mat-icon>
                      </div>

                  </div>
              </div>
              <!-- #2 profiles ---->
              <div class="animation-page" [ngClass]="{ visible: scrollStep <= 4 && scrollStep > 2 }">
                  <div class="text">
                      <div class="text-title">Browse available tutors</div>
                      Use the search interface to review candidates who match your criteria.
                      ome of them might be online when you are searching&nbsp;
                  </div>

                  <div class="animation-block profiles visible">
                      <img class="p1" src="/assets/index/profile1.png" />
                      <img class="p2" src="/assets/index/profile2.png" />
                      <img class="p3" src="/assets/index/profile3.png" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="points" [style.opacity]="scrollStep > 0 ? 1 : 0">
  <div class="point" [ngClass]="{ active: scrollStep <= 3 }"></div>
  <div class="point" [ngClass]="{ active: scrollStep <= 5 && scrollStep > 3 }"></div>
</div>
<div class="body" (swipeleft)="onSwipe($event)" (swiperight)="onSwipe($event)"  [ngClass]="{ scrolled: scrollStep > 0 }">
  <div class="main-content step-{{scrollStep}}">
      <div class="greeting">
          <div class="welcome">
              <h2>Welcome</h2>
              <div class="logo-tm logo-tm-welcome text-red">TM</div>
          </div>
          <p>A place where you can connect instantly with talented tutors.</p>
          <p>It's easy to get started, just search your subject below</p>
      </div>

      <div class="search-box">
          <mat-icon svgIcon="search" color="edu-turquoise"></mat-icon>

          <div class="search-input">
              <input #searchInput placeholder="What do you want to learn today?" (keyup)="keyUpHandler($event)" />
          </div>
      </div>

      <div class="start-button-wrapper">
          <div class="start-button">
              <mat-icon svgIcon="full-arrow-down"></mat-icon>
          </div>
      </div>
  </div>

  <div class="partners">
      <div><img class="new-york-times" src="/assets/partners/new-york-times.png" alt="The New York Times" title="The New York Times" /></div>
      <div><img class="bloomberg-business" src="/assets/partners/bloomberg-business.png" alt="Bloomberg Business" title="Bloomberg Business" /></div>
      <div><img class="forbes" src="/assets/partners/forbes.png" alt="Forbes" title="Forbes" /></div>
      <div><img class="fast-company" src="/assets/partners/fast-company.png" alt="Fast Company" title="Fast Company" /></div>
      <div><img class="buzzfeed" src="/assets/partners/buzzfeed.png" alt="BuzzFeed" title="BuzzFeed" /></div>
      <div><img class="business-insider" src="/assets/partners/business-insider.png" alt="Business Insider" title="Business Insider" /></div>
  </div>
</div>

<div class="sign-up-wrapper">
  <div class="sign-up sign-up-mobile">
      <button mat-raised-button type="button" [routerLink]="['/registry']">
              Join Us
      </button>
  </div>
</div>

<div class="footer-wrapper">
  <div class="footer">
      <div class="left">
      </div>

      <div class="right">
          <div class="logos">
              <mat-icon svgIcon="facebook-tiny" color="edu-red" class="facebook"></mat-icon>
              <mat-icon svgIcon="instagram-tiny" color="edu-red" class="instagram"></mat-icon>
              <mat-icon svgIcon="twitter-tiny" color="edu-red" class="twitter"></mat-icon>
              <mat-icon svgIcon="youtube-tiny" color="edu-red" class="youtube"></mat-icon>
              <mat-icon svgIcon="pinterest-tiny" color="edu-red" class="pinterest"></mat-icon>
          </div>
      </div>
  </div>
</div>