:host {
    display: inline-block;
    line-height: 20px;
    cursor: pointer;

    input {
        position: absolute;
        left: -10000px;
        float: left;
    }

    > div {
        float: left;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(#F37073, 50%);
        border-radius: 3px;
        background: #fff;
        position: relative;

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -3px;
            margin-top: -3px;
        }

        &.disabled {
            background: #f3f3f3;
            box-shadow: none;
            cursor: default;
        }
    }

    &.radio div {
        border-radius: 50%;
    }

    label {
        font-size: 1.4em;
        margin-left: 5px;
    }

    &.focused {
        > div {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        }
    }

    &:hover {
        > div {
            border: 2px solid rgba(#F37073, 10%);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        }
    }

    &:active {
        > div {
            background: #fff;
            border: 1px solid darken(#F37073, 5%);
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    &.dark {
        > div {
            border: 1px solid rgba(#fff, 50%);
            background: transparent;
            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -3px;
                margin-top: -3px;
                g {
                    fill: #fff;
                }
            }
        }
        label {
            color: #fff;
        }

        &:hover {
            > div {
                border: 1px solid rgba(#fff, 100%);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                background: transparent;
            }
        }

        &:active {
            > div {
                background: transparent;
                border: 1px solid rgba(#fff, 100%);
            }
        }
    }

    &.align-left {
        display: flex;
        flex-direction: row-reverse;
        label {
            margin-right: 5px;
        }
    }
}
