@font-face {
    font-family: 'proximasoft-regular';
    src: url('/assets/fonts/proximasoft-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/proximasoft-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximasoft-medium';
    src: url('/assets/fonts/proximasoft-medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/proximasoft-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximasoft-bold';
    src: url('/assets/fonts/proximasoft-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/proximasoft-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
