@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$mat-body-font-size-base: 1.9em;

@include mat-core();

$edu-red: (
    50 : #feeeee,
    100 : #fbd4d5,
    200 : #f9b8b9,
    300 : #f79b9d,
    400 : #f58588,
    500 : #f37073,
    600 : #f1686b,
    700 : #ef5d60,
    800 : #ed5356,
    900 : #ea4143,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd4d5,
    A700 : #ffbbbc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$candy-app-primary: mat-palette($edu-red);
$candy-app-accent: mat-palette($edu-red);
$candy-app-warn: mat-palette($mat-red);

$edu-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($edu-theme);

.edu-theme {
    .mat-block {
        display: block;
    }

    .mat-form-field {
        font-size: 1.6em;
    }

    .mat-button {
        font-weight: bold;
        border-radius: 100px;
        box-shadow: none;
        .mat-button-ripple {
            border-radius: 100px;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 5px 2px rgba(243, 112, 115, 0.3);
        }
        &:active {
            box-shadow: none;
        }
    }

    .mat-raised-button {
        font-weight: bold;
        border-radius: 100px;
        box-shadow: none;
        border: 1px solid #F37073;

        .mat-primary {
            background: rgba(243, 112, 115, 0.8%);
        }

        .mat-button-ripple {
            border-radius: 100px;
        }
        &:not([disabled]):active {
            box-shadow: none;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 5px 2px rgba(243, 112, 115, 0.3);
        }
        &[disabled] {
            border-color: rgba(0, 0, 0, 0.12);
        }
    }

    .mat-dialog-title {
        font-size: 2.8em;
        color: #444444;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .mat-dialog-container {
        p {
            font-size: 1.4em;
            color: #444444;
            line-height: 30px;
        }
    }

    .mat-large {
        .mat-input-wrapper {
            font-size: 24px;
            .mat-input-underline {
                border-top: 0.5px dashed #777777;
                margin-top: 8px;
            }
        }

        .mat-select {
            .mat-select-trigger {
                height: 40px;
            }
            .mat-select-placeholder, .mat-select-value {
                font-size: 24px;
            }
            .mat-select-underline {
                border-top: 0.5px dashed #777777;
                background-color: transparent;
            }
            &:focus:not(.mat-select-disabled).mat-primary {
                .mat-select-underline {
                    background-color: transparent;
                }
            }
        }
    }

    .mat-menu-panel.mobile-menu {
        max-width: 1000px;
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        top: 80px;
    }
}
