$red-color: #F37073;
$layout-breakpoint-xxs:    320px !default; //iPhone 7 and less 
$layout-breakpoint-xs:     450px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;